$list-active-color:#00C09E;
$list-bg-color : #ECF0F1;

//notification item style
/*.x-data-item-notification {
    padding: 1em;
    background: #fff;
    border-bottom: 3px solid $gray;

    .avatar {
        width: 42px;
        height: 42px;
        margin-right: .5em;
        border: 1px solid $gray;
        @include border-radius(.4em);
        -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.3);
    }

    .user {
        font-weight: bold;
		font-size:14px;
		color:$cursame-blue;
        margin-bottom: .2em;
    }

    .text {
        color: $text-color;
		font-size:$text-size;
        overflow: visible;        
    }

    .c-button{
		width: 42px;
        height: 42px;
	}
	
	.time-ago{
        position: absolute;
		font-size:$text-size;
		color:$gray;
        top: .01em;
        right: .5em;
        height: 1.5em;
        background: rgba(255,255,255,.7);
    }
}*/